* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 1170px;
  margin: auto;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("https://wallpapercave.com/wp/wp3517973.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.nav-area {
  float: right;
  list-style: none;
  margin-top: 30px;
}

.nav-area li {
  display: inline-block;
  margin-top: 20px;
}

.nav-area li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 20px;
  font-family: "poppins", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.nav-area li a:hover {
  background-color: white;
  color: black;
  border-radius: 14px;
}

.logo img {
  float: left;
  border-radius: 50%;
  margin-top: 20px;
}

.welcome-text {
  position: absolute;
  width: 600px;
  height: 300px;
  margin: 20% 30%;
  text-align: center;
}

.welcome-text h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 60px;
}

.welcome-text a {
  border: 1px solid white;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 20px;
  display: inline-block;
  color: white;
  font-weight: bold;
}

.welcome-text a:hover {
  background: white;
  color: black;
}
